.btn-options {
    left: -53px;
    position: relative;
    bottom: 15px;
}

.tools-btn-recette {
    width: 100%;
    position: absolute;
    bottom: 55px;
    right: 18px;
}

::ng-deep .p-speeddial-action {
    text-decoration: none !important;
}

::ng-deep .edit-badge {
    background-color: rgb(17, 65, 138);
}