<div class="container" id="wrapper">
  <div class="row col-12 shadow-sm p-3 mb-0 bg-white rounded mt-5">
    <div class="w-100">
      <h3 class="float-start"><i class="fas fa-list"></i> Mes recettes</h3>
      <button
        (click)="goToCreateForm()"
        pButton
        pRipple
        type="button"
        class="p-button-raised p-button-success float-end"
      >
        <i class="fas fa-plus"></i>&nbsp;Créer une recette
      </button>
    </div>
  </div>
  <div
    class="row col-12 alert {{ messageHandler.typeOperation }} p-2 mt-3"
    *ngIf="messageHandler.messageOperation !== ''"
  >
    <i
      class="fas {{ messageHandler.iconOperation }}"
      style="margin-top: 0.29rem"
    ></i
    ><span class="pl-2">{{ messageHandler.messageOperation }}</span>
  </div>
  <div class="row col-12 mt-0 shadow-sm mb-5 bg-white rounded mr-5">
    <div class="col-12 mb-3 mt-2 nb title-nb-recette">
      Recettes créées (<b>{{ recipes.length }}</b
      >)
    </div>
    <hr />
    <div
      id="#cardRecette"
      class="col-sm-12 col-md-6 col-lg-4 mb-5"
      *ngFor="let recipe of recipes; let i = index"
    >
      <div class="card w-100 mh-100" style="min-height: 474px">
        <img
          src="{{ uploadImage }}{{ recipe.images[0].name }}"
          [ngStyle]="{ 'max-height.px': '190' }"
          class="card-img-top"
          alt=""
        />
        <div class="card-body">
          <h5 class="card-title font-weight-bold">
            {{ recipe.title | slice : 0 : 41 }}<span *ngIf="recipe.title.length > 41">...</span>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ recipe.subtitle| slice : 0 : 60}}<span *ngIf="recipe.subtitle.length > 60">...</span></h6>
          <p class="card-text">{{ recipe.description | slice : 0 : 85 }}...</p>
          <hr />
          <strong>Crée par:</strong> {{ recipe.creator.username }} <br />
          <strong>Catégorie:</strong> {{ recipe.category }}<br />
          <strong>Lieu:</strong> {{ recipe.city }} ({{ recipe.zip }})<br />
          <strong>Prix:</strong> {{ recipe.price }} €<br />
          <div class="tools-btn-recette">
            <hr style="border: 1px dashed rgb(236, 236, 236)" />
            <button
              (click)="openDeleteConfirmationModal(recipe.id)"
              pButton
              pRipple
              type="button"
              class="p-button-raised p-button-danger"
            >
              <i class="fas fa-trash-alt"></i>&nbsp;Supprimer
            </button>
            <button
              pButton
              pRipple
              type="button"
              class="p-button-raised float-end"
              (click)="preEditRecipe(recipe.id)"
            >
              <i class="fas fa-edit"></i>&nbsp;Editer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
