TEST
<div class="container" id="wrapper">
  <div class="row col-12 shadow-sm p-3 mb-5 bg-white rounded">
    <div
      class="w-100 p-3"
      style="border: 1px solid #e3eaed; border-radius: 5px; background: #f7f7f7"
    >
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <img src="./assets/svg/svg_mister_chef.svg" #iconSVG width="100%" />
        </div>
        <div class="col-sm-8 col-md-8 mt-30">
          <div class="anim-home">
            <div class="container-animation">
              <div class="animed-text"></div>
            </div>
          </div>
          <div class="mb-0">
            <button
              pButton
              pRipple
              type="button"
              class="p-button-raised p-button-success float-end"
              [routerLink]="['/', 'recipe','create']"
            >
              <i class="pi pi-plus"></i>&nbsp; Créer une recette
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="last-recipes-swiper" #lastRecipes>
  <app-last-recipes></app-last-recipes>
</div>
</div>
