<a class="close float-end" (click)="onnoclick()"><span class="pi pi-times"></span></a>
<h1>{{title}}{{recipe.creator.username}}</h1>
<hr />

<div class="register-photo">
  <h2 class="text-center">Echanger avec le cuisinier à propos de cette recette</h2>
    <div class="form-container">
        <div class="image-holder" style="background: url('{{getImage()}}')"></div>
        <form [formGroup]="form">
            <div class="form-group">
              <textarea class="form-control" id="content" style="height: 170px;" rows="3" formControlName="content" placeholder="Votre message" rows="10" cols="50"></textarea>
            </div>
            <div class="form-group">
                <br />
            <button
              pButton
              pRipple
              type="button"
              class="p-button-raised p-button-success float-end"
              (click)="submit()"
            >
              <i class="pi pi-send"></i>&nbsp; Envoyer
            </button>
            </div></form>
    </div>
</div>