<footer class="bg-dfm text-white text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Du Fait Maison</h5>

                <p>
                    Est un site de référence qui répertorie toutes les recettes faites maison. Il a été fondé sur la base d'un besoin d'échange de recette entre particulier.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Qui sommes-nous?</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">Notre politique</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Nos CGU</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Nous contacter</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-0">Nos réseaux sociaux</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!" class="text-white">Facebook</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Instagram</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Twitter</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020
        <a class="text-white" href="https://dufaitmaison.com">DuFaitMaison.com</a>
    </div>
    <!-- Copyright -->
</footer>