.bg-dfm {
    font-family: 'Zen Kurenaido', sans-serif;
    background: linear-gradient(to top, rgb(101 126 143), rgb(7 113 139));
    width: 100%;
    clear: both;
    position: relative;
    bottom: -3px;
}

.wavy-footer {
    background-color: #333;
    /* Couleur de fond du footer */
    padding: 20px 0;
    /* Espace interne dans le footer */

    /* Position relative pour les pseudos-éléments */
    position: relative;
}

.dfm-wavy {
    width: 100%;
}



.footer-curvy {
    width: 100%;
    margin-bottom: -15px;
}