<div *ngIf="displayBanner"
  class="banner-top bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap"
>
  <div class="font-bold mr-8">🔥 Hot Deals!</div>
  <div class="align-items-center hidden lg:flex">
    <span class="line-height-3">
      En ce moment, profitez d'une large variété sur les produits faits maison'
    </span>
  </div>
  <a class="flex align-items-center ml-2 mr-8">
    <a class="text-white" href="#"
      ><span class="underline font-bold">En savoir plus</span></a
    >
  </a>
  <a
    pRipple
    class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150"
    style="width: 2rem; height: 2rem"
    (click)="closeBanner()"
  >
    <i class="pi pi-times"></i>
  </a>
</div>
<nav class="navbar navbar-expand-lg bg-light navbar-costum">
  <div class="container">
    <a
      class="navbar-brand nav-link-title"
      href=""
      routerLink="/"
      routerLinkActive="selected"
      [routerLinkActiveOptions]="{ exact: true }"
      >{{ title }}</a
    >
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto" id="menu-links">
        <li *ngIf="!isLogged" class="nav-item">
          <a
            class="nav-link-title"
            routerLink="/inscription"
            routerLinkActive="selected"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            S'inscrire</a
          >
          <a
            class="nav-link-title"
            routerLink="/login"
            routerLinkActive="selected"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Se connecter</a
          >
        </li>
        <li style="padding-top:5px">
          <a *ngIf="isLogged"
            class="nav-link-title" 
            routerLink="/recipe/"
            routerLinkActive="selected"
            [routerLinkActiveOptions]="{ exact: true }">
              <i class="pi pi-search"></i> Explorer
              </a>
        </li>
        <li *ngIf="isLogged" class="nav-item dropdown">
          <a
            class="nav-link-title dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            (click)="openCloseDD()"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <p-avatar 
              icon="pi pi-user" 
              styleClass="mr-2" 
              [style]="{'background-color': 'rgb(81 143 164)', 'color': '#ffffff'}" 
              shape="circle">
            </p-avatar>
            {{ username }}
          </a>
          <div
            #dropdownZone
            class="hidden dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <a *ngIf="isLogged"
            class="dropdown-item" 
            routerLink="/recipe/my-recipes"
            routerLinkActive="selected"
            [routerLinkActiveOptions]="{ exact: true }">
              Mes recettes
            </a>
            <a class="dropdown-item" href="#">Mon tableau de bord</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" (click)="logout()"
              >Déconnexion</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>