.navbar-nav li {
    display: inline-block;
    bottom: 2px;
}

a {
    list-style: none;
    margin-right: 50px;
}

.navbar {
    background: linear-gradient(to right, rgb(15 114 139), rgb(16 93 124));
}

ul>.nav-item>a {
    padding: 14px 19px;
}

a.nav-link-title {
    color: #fff !important;
}

/* li a:hover {
    border-radius: 5px;
    text-decoration: none;
} */

li.nav-item a:hover {
    background-color: rgb(11 113 139);
    text-decoration: none;
    font-weight: 400;
    color: rgb(191, 220, 253) !important;
}

#menu-links>.nav-item>a.selected {
    background-color: #fcfcfc26;
}

.bg-bluegray-900 {
    background: #518fa4 !important;
    color: #a4e1ff !important;
}

a.nav-link-title {
    text-decoration: none;
}