
<h1 mat-dialog-title>Confirmation</h1>
<div mat-dialog-content [innerHTML]="data.message">
</div>
<div class="modal-footer" mat-dialog-actions>
    <button
      pButton
      pRipple
      mat-dialog-close
      type="button"
      class="mr-5 p-button-raised p-button-secondary"
      data-dismiss="modal"
    >
      Annuler
    </button>
    <button
      pButton
      pRipple
      (click) = "confirmAction()"
      class="p-button-raised p-button-{{data.button.type}} float-end"
    >
      <i class="pi {{data.button.icon}}" style="font-size: 1rem; margin-right: 7px"></i>

      {{data.button.libelle}}
    </button>
  </div>