.tools-btn-recette {
  position: absolute;
  width: 90%;
  left: 0;
  margin: 15px;
  bottom: 0;
}

.title-nb-recette {
  color: rgb(199, 198, 198);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-delete-image {
  position: absolute;
  width: 1.3rem;
  padding: 0px;
  margin: 0px;
}

div#cardRecette {
  transition: box-shadow .3s;
  border-radius: 10px;
  background: #fff;
}

div#cardRecette:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.thumbnails-strip {
  background-color: rgb(238, 238, 238);
  padding: 0 0 10px 0px;
}

.toggle-state {
  width: 100%;
  margin: 15px 0;
  background: #e8ecef;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  padding: 5px 19px;
}

.toggle-state>label {
  font-weight: 600;
  margin-right: 5px;
  letter-spacing: 1px;
}

::ng-deep.mat-dialog-container {
  height: auto !important;
}

.img-thumbnails {
  width: 80px;
  height: 45px;
  border: 1px solid gray;
}

.dfm-thumbnails-edition {
  margin-top: 10px;
  width: auto !important;
}