.btn-options {
    left: 11px;
    position: relative;
    bottom: -15px;
}

.tools-btn-recette {
    width: 100%;
    position: absolute;
    bottom: 55px;
    right: 18px;
}

::ng-deep .p-speeddial-action {
    text-decoration: none !important;
}

::ng-deep .dfm-btn {
    box-shadow: 0px 1px 5px 2px #8a8a8a8c;
}

::ng-deep .p-speeddial-direction-left {
    position: relative !important;
}

::ng-deep .edit-badge {
    background-color: rgb(17, 65, 138);
}

::ng-deep .p-speeddial-button.p-button.p-button-icon-only {
    width: 3rem;
    height: 3rem;
}

::ng-deep .p-speeddial-direction-up {
    bottom: -15px;
    right: -15px;
}

::ng-deep .p-selectbutton .p-button.p-highlight {
    background: #0f5f7e;
    border-color: #518fa4;
}

::ng-deep .p-dataview-content {
    clear: both;
}

::ng-deep .p-dataview .p-dataview-header {
    min-height: 70px;
}

.btn-outline-secondary {
    border: 1px solid #dfdfdf;
}

.form-search {
    float: left;
    min-width: 50%;
}

.dfm-dialog-container {
    border: 2px solid #ccc;
    border-radius: 8px;
    min-width: 480px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

:host ::ng-deep .p-speeddial-action-icon.unlike::before {
    content: '\1F494' !important;
    filter: sepia(1);
}