/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Zen+Kurenaido&display=swap');
@import "~@ng-select/ng-select/themes/default.theme.css";
@import url('https://fonts.googleapis.com/css2?family=NTR&family=Niramit:wght@200&family=Poppins:wght@300&family=Tenor+Sans&display=swap');
@import '~@swimlane/ngx-datatable/assets/icons.css';

html,
body {
  background-color: #f8f8f8;
  height: 100%;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  font-size: x-large !important;
}

#wrapper {
  min-height: 75%;
}

i.fas,
.alert>span {
  width: auto;
  max-width: none;
}

.alert>span {
  padding-top: 3px;
}

.form-control {
  padding: 0.5rem 0.75rem;
}

.bg-white {
  border-top-width: 0 !important;
  border-right-width: 0.1em !important;
  border-bottom-width: 0.2em !important;
  border-left-width: 0 !important;
  border-color: #d6d6d6 !important;
  border: solid;
}

.row {
  margin-left: 0 !important
}

.head-section {
  width: 100%;
  height: 44px;
}

.img-card-section {
  width: 100%;
  max-height: 190px;
}

.card-text-section {
  width: 100%;
  max-height: 90px;
}

.banner-text {
  color: #ffffff;
  margin: 30px auto;
}

.profile-img-section {
  margin: 50px auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: solid 1px #cccccc;
}

.profile-img {
  border-radius: 50%;
}

.profile-details-section {
  margin: 50px auto;
  height: 300px;
}

.text1 {
  height: 25px;
  margin-top: 30px;
  width: 50%;
}

.text2 {
  height: 25px;
  margin-top: 30px;
  width: 65%;
}

.text3 {
  height: 25px;
  margin-top: 30px;
  width: 80%;
}

.text4 {
  height: 25px;
  margin-top: 30px;
  width: 95%;
}

.head-section:empty,
.profile-img-section:empty,
.text1:empty,
.text2:empty,
.text3:empty,
.text4:empty {
  animation: loading 1.1s infinite linear;
  background: #dedfe1;
  background-image: -webkit-linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
  background-image: linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
  background-repeat: no-repeat;
}

@keyframes loading {
  0% {
    background-position: -100px;
  }

  100% {
    background-position: 200px;
  }
}

.info-validation {
  color: #535353;
  font-style: italic;
  font-size: xx-small;
}

.font-weight-bold {
  font-size: large !important;
}

.card-subtitle {
  font-size: small !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #62acc5;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #105f7d;
}

span.state-pills {
  --badge-offset-x: calc(0px - var(--badge-size) / 3);
  --badge-offset-y: calc(0px - var(--badge-size) / 3);
  --badge-size: 1.5rem;
  --circle-size: 2rem;
  --dot-offset: 0.5rem;
  --dot-size: 0.5rem;

  --b: initial;
  --bgc: hsl(195, 100%, 30%);
  --bdrs: 0;
  --c: hsl(195, 100%, 99%);
  --d: inline-flex;
  --fz: 0.625rem;
  --fw: 700;
  --h: auto;
  --l: initial;
  --m: 0.4rem;
  --p: 0;
  --pos: static;
  --r: initial;
  --t: initial;
  --tt: uppercase;
  --w: initial;

  position: relative;
}

span.state-pills::before {
  margin-inline-end: 1ch;
}

span.state-pills::after,
.state-pills::before {
  --bdrs: 1rem;
  --p: 0.25rem 0.75rem;
  --pos: relative;
  --t: -1px;
}

span.published::after,
span.published::before {
  --bgc: #007acc;
}

.rejected::after,
.rejected::before {
  --bgc: #706e6b;
  --c: #fff;
}

.draft::after,
.draft::before {
  --bgc: #c23934;
}

span.state-pills {
  display: inline-block;
  padding: 0px 13px;
  border-radius: 50px;
  margin-left: 5px;
  border-bottom: 1px solid #929292;
}

span.published {
  background: #689f38;
  color: #FFFFFF;
}

span.draft {
  background: #ed6363;
  color: #FFFFFF;
}

span.rejected {
  background: silver;
  color: #696969;
}

h3 {
  margin: 0px !important;
}

:root {
  --swiper-navigation-size: 10px;
}