<div class="container" id="wrapper">
  <div class="row col-12 shadow-sm p-3 bg-white rounded mt-5">
    <h3 style="margin: 0 !important">
      <i class="fas fa-pen"></i> Saisie de la recette
    </h3>
  </div>
  <div
    class="row col-12 alert {{ messageHandler.typeOperation }} p-2 mt-3"
    *ngIf="messageHandler.messageOperation !== ''"
  >
    <i
      class="fas {{ messageHandler.iconOperation }}"
      style="margin-top: 0.29rem"
    ></i
    ><span class="pl-2">{{ messageHandler.messageOperation }}</span>
  </div>
  <div class="row col-12 shadow-sm p-3 mb-5 bg-white rounded mt-2">
    <app-sharing></app-sharing>
  </div>
</div>
